<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1085866518172-q3k6otcuj8larsucd27lunjtjdeoi1sf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1085866518172-q3k6otcuj8larsucd27lunjtjdeoi1sf</string>
	<key>API_KEY</key>
	<string>AIzaSyB-J0pVccUXLCkTp4jTjOAT23YIxP1WN5M</string>
	<key>GCM_SENDER_ID</key>
	<string>1085866518172</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MIVanov-comp.FinalProject</string>
	<key>PROJECT_ID</key>
	<string>myfinalproject-92b64</string>
	<key>STORAGE_BUCKET</key>
	<string>myfinalproject-92b64.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1085866518172:ios:35317cbea379348df72f59</string>
</dict>
</plist>